.skills {
  position: relative;
  z-index: 3;
  /* align-items: center; */
  /* text-align: center; */
  /* margin-left: 10vw; */
  text-align: justify;
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-color);
  align-items: center;
  text-align: center;
  padding-bottom: 2rem;
}

.skills h1 {
  font-weight: bold;
  color: var(--third-color);
  text-transform: uppercase;
}

.box {
  height: 8rem;
  border-bottom: 0.3rem solid var(--third-color);
  padding: 0.625rem;
  margin-bottom: 1.8rem;
  background-color: white;
}

.box:hover {
  background-color: var(--third-color);
  border-bottom: 0.3rem solid var(--secondary-color);
}
