#tsparticles {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* .tsparticles-canvas-el {
  position: absolute;
  height: 100px;
  width: 100vw;
  z-index: 1;
} */

.tsparticles-canvas-el {
  position: absolute !important;
}
