:root {
  --primary-orange: #28cf12;
}
.bgcolor {
  background-color: rgb(26, 144, 148);
}

nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.6px;
  cursor: pointer;
}

/* nav ul li {
  text-transform: uppercase;
} */

.navbar-nv > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-bottom: 0.187rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.187rem solid var(--primary-orange);
}

.navbar {
  z-index: 2;
}
