@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color: rgb(26, 144, 148);
  --secondary-color: rgb(124, 197, 197);
  --third-color: rgb(255, 165, 0);
  --forth-color: rgb(21, 152, 212);
}
